<app-header></app-header>
<main class="container mt-5">
  <div class="row">
    <div *ngFor="let project of projects" class="col-xs-12 col-md-4 mb-3">
      <div class="card projects">
        <div class="row pt-3">
          <div class="col-4 w-100">
            <img src="{{ project.logo }}" alt="{{ project.name }}" style="object-fit: cover; width: 100%">
          </div>
          <div class="col-8">
            <h5>{{ project.name }}</h5>
            <div class="font-12"><span><b>Category: </b></span> {{ project.company.category }}</div>
            <div class="font-12"><span><b>Investment Type: </b></span> {{ project.investment_type }}</div>
            <div class="font-12"><span><b>Amount Raised: </b></span> {{ project.amount_raised }}</div>
            <div class="font-12"><span><b>Equity: </b></span> {{ project.equity_offered }}</div>
            <div class="font-12"><span><b>Investors: </b></span> {{ project.investor_count }}</div>
            <div class="mb-3"></div>
            <div class="container-fluid bg-danger text-center">
              <a routerLink="{{'/projects/' + project.id}}" class="btn btn-default text-white font-12 my-1">see more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
